@charset "UTF-8";

body {
  background-image: url("maid.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #afeeee;
  margin: 0;
  line-height: 1.4;
  font-family: sans-serif;
}

#outer {
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  padding: 20px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
}

.description {
  text-align: center;
  margin-top: 5px;
  color: #666;
  font-size: 14px;
}

/* メイン部分 */
.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  overflow: hidden;
}

.profile-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.profile img {
  width: auto;
  max-height: 25vh;
  border-radius: 12px;
  margin-bottom: 10px;
}

.profile-text {
  overflow: auto;
  padding-right: 10px;
}

.profile-text h2, .profile-text h3, .profile-text h4 {
  margin-top: 0;
  border-bottom: 1px solid #999;
  font-size: 16px;
}

.links ul {
  padding-left: 1em;
  margin: 5px 0;
}

.links li {
  margin: 3px 0;
  font-size: 14px;
}

a {
  color: #003366;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* パモスロット */
.reel-container { display:flex; justify-content:center; gap:10px; margin-top:10px;}
.reel-wrapper { width:100p
